name: Update Douban Top250

on:
  schedule:
    - cron: "0 19 * * 0"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Shanghai
      TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}

    steps:
      - name: Setup repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Run Task
        run: deno task douban:top250

      - name: Push Data
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add data/douban/top250.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "update douban top250" && git push)
